.container{
  padding: 20px 0px 0px 0px;
}
.edit input[type=text] {
  border: 1px solid #ffffff;
  width: 100%;
  resize: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.edit input[type=text]:hover,
.edit input[type=text]:focus{
  border: 1px solid #d7cebf;
  outline: none
}
