<!DOCTYPE html>
<html data-ng-app="TaskList">
  <head>
    <title>Self-Destructing Task List with Firebase</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/task-list.css">
  </head>
  <body ng-controller="ListController">
      <!-- Add Task -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">New Task</div>
            <div class="panel-body">
              <form class="form" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="newTask.name" placeholder="Add a Task" autofocus/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="newTask.description" placeholder="Add a Note"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block" ng-click="addTask()">Submit</button>
              </form>
              <hr />
              <div class="nav nav-pills">
                <li role="presentation" ng-class="{ active: isSet('Open') }" ng-click="setState('Open')"><a href="#">Open</a></li>
                <li role="presentation" ng-class="{ active: isSet('Closed') }" ng-click="setState('Closed')"><a href="#">Closed</a></li>
                <li role="presentation" ng-class="{ active: isSet('Expired') }" ng-click="setState('Expired')"><a href="#">Expired</a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <!-- Task Table -->
          <div class="panel panel-primary">
            <div class="panel-heading">{{currentState}} Tasks</div>
            <table class="table table-bordered edit">
              <thead>
                <tr>
                  <th>Task</th>
                  <th>Notes</th>
                  <th>Created On</th>
                  <th>Expires In</th>
                  <th>{{stateHeader}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="task in filtered = (tasks | taskFilter: currentState)">
                  <td><input type="text" ng-model="task.name" ng-blur="updateTask(task)"/></td>
                  <td><input type="text" ng-model="task.description" ng-blur="updateTask(task)"/></td>
                  <td align="center">{{task.creationDate}}</td>
                  <td align="center">{{task.expirationDate | countdown}} days</td>
                  <td align="center" ng-class="stateClass">
                    <a href="#" ng-model="task.completed" ng-click="task.completed = true; updateTask(task)">
                      <span ng-class="task.completed ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
